body{
    background-color:#f7f1e3 ;
    font-family:'';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 375px;
    font-family: 'CENTURY GOTHIC';
    margin:0;
}
a{
    text-decoration: none;
    color: #fff;

}
ul{
    list-style-type: none;
}
.header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color:#474787;
    flex-grow: 1;
    font-weight: 500;
    min-height: 55px;
    box-shadow: 0px 3px 17px -4px rgba(34, 60, 80, 0.59);
}
.nav{
    display: flex;
    width: 100%;

}
.nav-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.nav-point{
    background-color: #40407a;
    padding: 0.5vw 2vh;
    min-height: 33px;
    min-width: 90px;
    border-radius: 5px;
    border: 3px solid #2c2c54;

}
.account-btn{
    background-color: #2c2c54;
    display: flex;
    justify-content: end;
    align-content: center;
    width: 17%;
    /* border-radius: 10px; */
}
.account-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.avatar{
max-width: 25%;
}
main{
    margin: 80px 5%;
    display: flex;
    flex-direction: column;
}
.background{
    display: flex;
    gap: 20px;
    background-color: #84817a;
    justify-content: center;
    box-shadow: 0px 3px 17px -4px rgba(34, 60, 80, 0.59);
}
.section-name{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.bckgrnd-box{
    background-color: #d1ccc0;
    min-width: 40vw;
    min-height: 30vh;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    max-width: 45vw;
    box-sizing: border-box;
    padding: 5px;

}
.wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 3.2%;
}
.characters{
    display: flex;
    background-color: #ffb142;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding: 4% 0%;
    justify-content:center;
    /* padding-right: 0; */
    gap: 2%;
    box-shadow: 0px 3px 17px -4px rgba(34, 60, 80, 0.59);
}
.sctn2{
    background-color:#cc8e35;
    padding: 1% 5%;
    margin: 0;
    margin-top: 20px;
}
.sctn3{
    background-color:#218c74;
    padding: 1% 5%;
    margin: 0;
    margin-top: 20px;
}
.character-wrapper{
    background-color:#d1ccc0 ;
    min-width: 330px;
    min-height: 480px;
    border-radius: 15px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 17px -4px rgba(34, 60, 80, 0.59);
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 1%;
    border: 10px #aaa69d solid;
}
.name{
    background-color: #d1ccc0;
    /* flex-grow: 1; */
    border-radius: 15px;
    box-shadow: 0px 3px 17px -4px rgba(34, 60, 80, 0.59);
}
.history{
    background-color: #d1ccc0;
    flex-grow: 1;
}
input{
    padding: 0;
    margin: 0;
    border: 0;
}
.first{
    justify-content: center;
    align-items: center;
}
.plus{
    aspect-ratio: 4/4;
    width: 60%;

}
.name-empty{
    overflow-wrap: break-word;
    height: 20%;
}
.name-raw{
    background-color: #aaa69d;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.section-lore{
    background-color: #33d9b2;
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding: 4% 0%;
    justify-content:center;
    /* padding-right: 0; */
    gap: 2%;
    box-shadow: 0px 3px 17px -4px rgba(34, 60, 80, 0.59);
    overflow: auto;
}
.location{
    width: 8vw;
    height: 6vw;
    background-color: #ffda79;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 12px -1px rgba(34, 60, 80, 0.2);
    
}
.loc-text{
    width: 100%;
    height: 90%;
    text-align: center;
    /* justify-content: center;
    align-items: center;
    display:; */
    border-radius: 50px;
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 15px;
    padding-top: 0;
}
.location-plus{
    width: 3vw;
    height: 3vw;
    background-color: #ffda79;
    border-radius: 100%;
    box-shadow: 0px 1px 12px -1px rgba(34, 60, 80, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .section-lore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.start{
    width: 8px;
    height: 50px;
    background-color: #ffda79;  
}
.line{
    background-color:#ffda79 ;
    width: calc(100% - 170px);
    height: 8px;
    
}
.loc-plus-img{
    width: 70%;
}
[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    }



@media (max-width:900px){
    main{
        margin: 10% 5%;
    }
    .nav-point{
        padding: 1vh 1vw;
    }
    .header{
        font-weight: 400;
        font-size: 3vw;
    }   
    .nav-list{
        margin-right: 10%;
        padding: 0 3%;
    }
    .account-btn{
        width: 30%;
        font-weight: 400;
        font-size: 3.5vw;
    }
    .account-box{
        justify-content: center;
    }
    .avatar{
        max-width: 0%;
    }
    .background{
        gap: 1;
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
    .section-name{
        font-size: 20px;
        font-weight: 500;
    }
    .wrapper{
        width: 80%;
    }
    .character-wrapper{
        max-width: 330px;
    }
    .bckgrnd-box{
        max-width: 90vw;
    }
}